/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
/.junie/*
.DS_Store
.env
.env.testing
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/AGENTS.md
/public/vendor/log-viewer/app.js.LICENSE.txt
/boost.json
/public/vendor/log-viewer/img/log-viewer-32.png
/public/vendor/log-viewer/img/log-viewer-64.png
/public/vendor/log-viewer/img/log-viewer-128.png
/public/fonts-manifest.dev.json
